version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: timesheet-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: timesheet_management
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
